# Ignore everything
*

# Whitelist anything that's an EyeoT directory or gitignore
!**.gitignore
!/libraries/
!/IoT/
 






libraries/readme.txt

libraries/Adafruit_DotStar/examples/.DS_Store

libraries/Adafruit_DotStar/.DS_Store

libraries/.DS_Store

IoT/.DS_Store

IoT/Arduino_101_BLE_EyeoT/.DS_Store
